.artistpage h1 {
  position: relative;
  top: 45%;
  left: 23%;
  font-size: 68px;
  color: white;
}

.playIconMain {
  position: relative;
  top: 2.2%;
  left: 7%;
  cursor: pointer;
}
.playIconMain:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}
.artistpage {
  width: 100%;
  height: 300px;
  background: rgb(127, 165, 205);
  background: linear-gradient(
    180deg,
    rgba(127, 165, 205, 1) 22%,
    rgba(92, 120, 148, 1) 51%,
    rgba(87, 114, 141, 1) 63%
  );
  position: relative;
  left: 16%;
}

.imgbanner {
  border-radius: 50%;
  position: relative;

  left: 5%;
  width: 180px;
}
.imgsong {
  width: 50px;
  position: relative;
  left: 10%;
  top: 10%;
}

/* artist Detail section */

.songs {
  width: 100%;
  height: 150vh;
  background: rgb(49, 64, 78);
  background: linear-gradient(
    180deg,
    rgba(49, 64, 78, 1) 0%,
    rgba(23, 25, 27, 1) 34%,
    rgba(18, 18, 18, 1) 51%
  );
}

.songs h2 {
  position: relative;
  left: 6%;
  top: 5%;
}
.popularity_text {
  position: relative;
  left: 29%;
}
.duration_text {
  position: relative;
  left: 47%;
}

.icon {
  position: relative;
  left: 5%;
  top: 3%;
  width: 50px;
}

.btn {
  position: relative;
  left: 8%;
  top: 1%;
  padding: 10px 17px;
  background-color: transparent;
  border: 0.1px solid white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #1db954;
  color: white;
  border: none;
}
.songlist img {
  float: left;
}

.mysongs {
  display: flex;
}

.thirdrow {
  flex: 0.5 200px;
}
.secondrow {
  flex: 0.4;
}
.firstrow {
  flex: 0.1 400px;
}
.songname {
  width: 100%;
  position: relative;

  top: 20%;
  left: 40%;
}
.imgsong {
  position: relative;

  top: 80%;
  left: 15%;
}
.downloads {
  position: relative;
  left: 50%;
  top: 85%;
}
.duration {
  position: relative;
  left: 30%;
  top: 85%;
}

.playicon {
  position: relative;
  left: 7%;
  top: 75%;
}
.playicon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

.trackbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 70%;
}
.btn-play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #ffffff;
  cursor: pointer;
  position: relative;
  left: 100%;
  top: 50%;
}

.btn-stop {
  height: 28px;
  width: 6px;
  border-left: 8px solid rgb(255, 255, 255);
  border-right: 8px solid rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  left: 100%;
  top: 50%;
}
