@import "src/styles/variables";

.search-product {
  margin-top: 10px;
  background: white;
  border-radius: 4px;
  padding: 0px 0px 0px 0.5rem;
  height: 45px;
  display: flex;
  align-items: center;
  overflow: hidden;
  .location {
    color: $label-color;
    display: flex;
    align-items: center;

    .care-down {
      margin-left: 12px;
      color: #5F7D95;
      font-size: 12px;
    }
  }

  .ant-select {
    height: 40px;
    border: none !important;

    input {
      border: none !important;
      height: 40px;
    }
  }

  .btn {
    background: #B9C6D1;
    display: flex;
    height: 45px;
    width: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .anticon {
      margin: auto;
    }
  }
}
