@import "src/styles/variables";

.login {
    margin: 2.5rem 0px 0px 1rem;
    width: 80%;


    h2 {
        margin-bottom: 2px;
    }

    .link-create-acc {
        font-weight: lighter;
        font-size: 12px;
        span  {
            color: $primary-color;
            cursor: pointer;
        }        
    }

    .terms {
        font-weight: lighter;
        margin-top: 0.5rem;
        font-size: 12px;
        span {
            color: $primary-color;
            cursor: pointer;
        }
    }
}       