@import "variables";
@import "helpers";
@import "@antOverrides";
@import "icons/style";

/* General component styles */
body {
  background-color: #FFFFFF;
  color: $primary-black;
}

body, h1, h2, h3, h4, h5, p, button, input {
  font-family: 'Roboto', sans-serif !important;
  color: $label-color;
}


.text-line-through {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.field-height {
  height: 40px;
}

.text-link {
  color: $primary-color;
  font-weight: lighter;
  font-size: 12px;
  cursor: pointer;
}