
/* Color palette */
$primary-color: #CF2655;
$secondary-color: #393D46;
$light-white: #FFFFFF40;
$primary-light-color: #0D494E10;
$primary-black: #4B4B4B;
$dark-blue: #22509D;
$light-grey: #00000015;
$dark-grey: #8898AA;
$success-color: green;
$danger-color: #FE0000;
$warning-color: #FFB229;
$body-bg: #F5F8FA;
$table-bg: #F7FAFC;
$input-bg: #f7f8fa;
$label-color: #393D46;
$link-color: #4389FF;
$placeholder-color: #5f7d95;

/* Shadows */
$primary-shadow: 0 8px 22px #0000001A;
$secondary-shadow: 0px 3px 6px #2C28281C;


/* Spacer variables */
$spacer-x : 1rem;
$spacer-y : 1rem;

$nav-height: 140px;