@import "src/styles/variables";

.cart-details {
  padding: 2.5rem;
  .apply-coupon {
    border: 1px solid $warning-color;
    background-color: #fff5e8;
    border-radius: 4px;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    div {
      display: flex;
      align-items: center;
    }
    i {
      font-size: 18px;
      margin-right: 8px;
    }

    .anticon-right {
      color: $warning-color;
      font-weight: bold;
    }
  }

  .order-summary {
    background-color: #f7f8fa;
    padding: 1rem;
    .order-title {
      font-weight: bold;
      span {
        font-weight: lighter;
        color: #838383;
        font-size: 18px;
      }
    }

    .info {
      font-size: 16px;
    }

    .total-cost {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .wallet-balance {
    margin-top: 1.25rem;
    i::before {
      color: $primary-color !important;
      font-size: 16px;
      margin-right: 8px;
    }
    p {
      margin: 0px;
    }
  }
  .offers {
        position: relative;  
    .continue-shopping {
        position: absolute;
        bottom: 12px;
        right: 10px;
        color: white;
        margin: 0px;
        cursor: pointer;
      }
  }
  .terms {
    margin-top: 0.75rem;
    font-weight: lighter;
    color: $label-color;
    span {
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .total-savings {
    padding: 0.85rem;
    background: #E1FADF;
    color: #14A40C;
  }
}
