.card1 {
  width: 200px;
  height: 280px;
  background-color: #181818;

  margin-bottom: 50px;
  margin-top: 50px;
  float: left;
  margin-left: 50px;
}

.card1:hover {
  background-color: #282828;
  cursor: pointer;
}

.card1 p {
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
.card1 img {
  width: 100%;

  height: 80%;
  display: block;
  margin: auto;
  border-radius: 15px;
}
