@font-face {
  font-family: 'mr-medicine-123-com';
  src:  url('fonts/mr-medicine-123-com.eot?256vev');
  src:  url('fonts/mr-medicine-123-com.eot?256vev#iefix') format('embedded-opentype'),
    url('fonts/mr-medicine-123-com.ttf?256vev') format('truetype'),
    url('fonts/mr-medicine-123-com.woff?256vev') format('woff'),
    url('fonts/mr-medicine-123-com.svg?256vev#mr-medicine-123-com') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mr-medicine-123-com' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_keyboard_backspace_24px:before {
  content: "\e93d";
  color: #cf2655;
}
.icon-home-delivery:before {
  content: "\e937";
  color: #cf2655;
}
.icon-moneys:before {
  content: "\e938";
  color: #cf2655;
}
.icon-prescription-2:before {
  content: "\e939";
  color: #cf2655;
}
.icon-profile-top1:before {
  content: "\e93e";
  color: #fff;
}
.icon-safe-payment:before {
  content: "\e93a";
  color: #cf2655;
}
.icon-stock:before {
  content: "\e93b";
  color: #239527;
}
.icon-talk-to-us:before {
  content: "\e93c";
  color: #cf2655;
}
.icon-discount:before {
  content: "\e900";
  color: #ffb229;
}
.icon-arrow .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-arrow .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: none;
}
.icon-arrow .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(207, 38, 85);
}
.icon-care:before {
  content: "\e902";
  color: #cf2655;
}
.icon-Component-272--6 .path1:before {
  content: "\e903";
  color: rgb(24, 120, 242);
}
.icon-Component-272--6 .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Component-273--6 .path1:before {
  content: "\e904";
  color: rgb(26, 161, 241);
}
.icon-Component-273--6 .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Component-274--6 .path1:before {
  content: "\e905";
  color: rgb(255, 0, 0);
}
.icon-Component-274--6 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Component-275--6 .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-Component-275--6 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-delete:before {
  content: "\e909";
  color: #5f7d95;
}
.icon-delivery-cart:before {
  content: "\e90a";
  color: #cf2655;
}
.icon-doctor-1:before {
  content: "\e90b";
  color: #fff;
}
.icon-DOCTOR:before {
  content: "\e90c";
  color: #cf2655;
}
.icon-empty-wallet-top:before {
  content: "\e90d";
  color: #fff;
}
.icon-facebook .path1:before {
  content: "\e90e";
  color: rgb(26, 119, 242);
}
.icon-facebook .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-glucose-meter--1:before {
  content: "\e911";
  color: #cf2655;
}
.icon-glucose-meter-1:before {
  content: "\e912";
  color: #cf2655;
}
.icon-google .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.icon-google .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: none;
}
.icon-google .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-google .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-google .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.icon-google .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-google .path7:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(57, 61, 70);
}
.icon-Group-43205 .path1:before {
  content: "\e91a";
  color: rgb(185, 43, 39);
}
.icon-Group-43205 .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-43206 .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
}
.icon-Group-43206 .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-43206 .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-43206 .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-homeopathy:before {
  content: "\e920";
  color: #cf2655;
}
.icon-ic_shopping_cart-top:before {
  content: "\e921";
  color: #fff;
}
.icon-LAB-TEST:before {
  content: "\e922";
  color: #cf2655;
}
.icon-laptest-TOP:before {
  content: "\e923";
  color: #fff;
}
.icon-Layer--1 .path1:before {
  content: "\e924";
  color: rgb(95, 125, 149);
}
.icon-Layer--1 .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(207, 38, 85);
}
.icon-Layer--1 .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(207, 38, 85);
}
.icon-Layer-2:before {
  content: "\e927";
  color: #cf2655;
}
.icon-location-top:before {
  content: "\e928";
  color: #5f7d95;
}
.icon-PHARMACY-TOP:before {
  content: "\e929";
  color: #fff;
}
.icon-PHARMACY:before {
  content: "\e92a";
  color: #cf2655;
}
.icon-physiotherapy:before {
  content: "\e92b";
  color: #fff;
}
.icon-profile-top:before {
  content: "\e92c";
  color: #fff;
}
.icon-SCAN:before {
  content: "\e92d";
  color: #cf2655;
}
.icon-storage:before {
  content: "\e92e";
  color: #5f7d95;
}
.icon-Subtraction-4:before {
  content: "\e92f";
  color: #fff;
}
.icon-supplement-1:before {
  content: "\e930";
  color: #cf2655;
}
.icon-virus:before {
  content: "\e931";
  color: #cf2655;
}
.icon-warning:before {
  content: "\e932";
  color: #cf2655;
}
