.sidebar {
  height: 100vh;
  flex: 0.2;
  background-color: #040404;

  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: fixed;
  /*  z-index: -1; */
}

.sidelogo {
  object-fit: contain;
  height: 70px;
  padding: 10px;

  margin-right: auto;
}

.playlistlink {
  font-size: 18px;
  margin-left: 32px;
  font-weight: bold;
}

.myinput {
  color: black;
  padding: 4px;
  margin-left: 30px;
  margin-top: 5px;
}

.addlistBtn {
  color: white;
  background: transparent;
  border: none;
  border: 0.1px solid white;
  padding: 8px;
  text-align: center;
  position: relative;

  left: 15%;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 130px;
  height: 40px;
  cursor: pointer;
}
.addlistBtn:hover {
  background-color: #1db954;
  border: none;
}
.newplaylist {
  position: relative;

  font-size: 18px;
  color: white;
  left: 15%;
}

.mymenu {
  list-style: none;

  font-size: 18px;
  background-color: #3e3e3e;
  width: 90px;
  text-align: center;
  padding: 10px;
  color: #f5f5f5;
  border-radius: 2px;
}

.menumain {
  position: relative;
  left: 2%;
}

.rightclickBtn {
  border: none;
  background-color: transparent;
}
.dropdown {
  position: relative;
  z-index: 120;
  margin-top: 20px;
}
