@import "src/styles/variables";

.detail {
    .content {
        pointer-events: none;
        .content-title {
            margin: 0px;
            font-weight: normal;
            font-size: 18px;
        }
    }
}