@import "src/styles/variables";

.image-view {
  padding-right: 1.5rem;

  .large-view {
      height: 400px;
      width: 100%;
      margin-bottom: 1rem;
      object-fit: cover;
      img {
          height: inherit;
          width: inherit;
      }
  }
  .list {
    img {
      height: 100%;
      width: 100%;
      border: 1px solid #cfd9e0;
      border-radius: 4px;
      object-fit: cover;
    }
  }
}

.cursor-zoom-magnifier-container {
    left: 150px !important;
    top: 45vh !important;
    height: 400px !important; 
    width: 400px !important;
    .cursor-zoom-magnifier {
        height: inherit !important; 
        width: inherit !important;
    
    }
}