@import "src/styles/variables";

.banner-carousel {
    position: relative;
    .banner-container {
        position: relative;
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .content {
            position: absolute;
            right: 15vw;
            top: 100px;

            p, h1 {
                color: white !important;
                margin: 0px;
            }

            h1 {
                font-size: 34px !important;
            }
        }
    }

    .left-arrow, .right-arrow {
        position: absolute;
        color: white;
        top: 150px;
        font-size: 44px;
    }
    
    .left-arrow {
        left: 50px;

    }

    .right-arrow {
        right: 50px;
    }
}